/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background-image: url(../images/bgtile.png);
  background-repeat: repeat-x;
}

.main {
  height: auto;
  width: 75%;
  margin: 3% auto;
}

#iPhone {
  display: block;
  position: cover;
  width: 33%;
  float: left;
}

button {
  background-color: #1c5380;
  float: right;
  position: relative;
  margin: 20px 0 4px;
  height: 3em;
  width: 20%;
  text-align: center;
  font-weight: bold;
  color: lightgrey;
  border: 1px solid #1c5380;
  border-radius: 5%;
  padding: 0px;
  box-shadow: 2px 2px 19px 0px rgba(0,0,0,0.75);
}

button img{
  margin: -6px 3px;
}

button span {
  font-size: 1.3em;
  margin: 0 auto;
}

#text-box {
  padding: 3% 2%;
  float: right;
  width:60%
}

#text {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
  padding: 30px;
}

#text-box h1 {
  color: #06365f;
}

.navbar {
  text-align: center;
  margin: 20px 0 0;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

#copyright {
  position: relative;
  color: lightgrey;
}

ul {
  margin: 2% 5%;
  padding: 0;
  list-style-type: none;
}

ul li{
  margin: 0 2%;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  display: inline;
}

nav a {
  color: #1c5380;
  font-size: 0.8em;
}
